[submodule "deps/OpenXR-SDK"]
	path = deps/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "deps/portaudio"]
	path = deps/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "deps/ogg"]
	path = deps/ogg
	url = https://github.com/xiph/ogg.git
[submodule "deps/vorbis"]
	path = deps/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "deps/cgltf"]
	path = deps/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "deps/JoltPhysics"]
	path = deps/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "deps/soloud"]
	path = deps/soloud
	url = https://github.com/jarikomppa/soloud.git
